<%-include('includes/head');%>

<div class="container max-w-[880px] overflow-hidden mx-auto">
	<%-include('includes/components/navbar')%> 

	<%-include('includes/components/contacts')%>

	<%-include('includes/footer');%>
</div>
