<%-include('includes/head');%>

<div class="container max-w-[880px] overflow-hidden mx-auto h-full">
	<%-include('includes/components/navbar')%> 

	<%-include('includes/components/contacts')%>

</div>

<%-include('includes/footer');%>