<%-include('includes/head');%>

<div class="container max-w-[880px] mx-auto">
	<%-include('includes/components/navbar')%> 
  
  <%if(!auth){%>
	<div class="h-full bg-gray-100 flex justify-center" style="min-height: calc(100vh - 64px);">
		<div class="w-full md:w-[450px] py-6 px-10 h-80 mt-20 bg-white rounded shadow-xl">
			<h1 class="font-bold inline-block mb-4">Cadastre-se:</h1>
			<form action="/register" method="POST">
				<div class="mb-6">
					<label for="email" class="block text-gray-800 font-bold"
						>E-Mail:</label
					>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="email@provedor.com"
						class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600"
						autocomplete="off"
						required
					/>
				</div>

				<div>
					<label for="password" class="block text-gray-800 font-bold"
						>Senha:</label
					>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Digite sua senha"
						class="w-full border border-gray-300 py-2 pl-3 rounded mt-2 outline-none focus:ring-indigo-600 :ring-indigo-600"
						autocomplete="off"
						required
					/>

				</div>
				<button
					class="cursor-pointer py-2 px-4 block mt-5 bg-[#0D7DC0] text-white font-bold w-full text-center rounded"
					type="submit"
					>Cadastrar</button
				>
			</form>
		</div>
	</div>

	<%}%> 
  
  <%-include('includes/footer');%>
</div>
