
  <nav class="relative">
    <div class="">
      <div class="flex justify-between h-16 px-10 shadow items-center">
        <div class="flex items-center space-x-8">
          <h1 class="text-xl lg:text-2xl font-bold cursor-pointer">
            <img class="w-16" src="/assets/img/Contacts_30028.webp" />
          </h1>
        </div>
        <div class="flex space-x-4 items-center">
          <a href="#" class="text-gray-800 text-sm">CADASTRO</a>
          <a
          href="#"
          class="bg-[#0D7DC0] px-4 py-2 rounded text-white hover:bg-[#0AABF4] text-sm"
          >LOGIN</a
          >
        </div>
      </div>
    </div>
    <div class="flex justify-between shadow items-center">
    
      <%-include('../components/search')%>
    
    </div>
  </nav>

