<nav class="relative">
	<div class="">
		<div class="flex justify-between h-16 px-10 shadow items-center">
			<div class="flex items-center space-x-8">
				<a href="/">
					<h1 class="flex items-center text-md cursor-pointer">
						<img
							class="w-12 md:w-13 mr-4"
							src="/assets/img/Contacts_30028.webp"
							alt="CONTATOS"
							title="Meus Contatos"
						/>
					</h1>
				</a>
			</div>
			<div class="flex space-x-4 items-center">
				<%if (!auth) {%>
					<a href="/register" class="text-gray-800 text-sm">CADASTRO</a>
					<a
						href="/login"
						class="bg-[#0D7DC0] px-4 py-2 rounded text-white hover:bg-[#0AABF4] text-sm"
					>LOGIN</a>
				<% } else {%>
					<a
						href="/login"
						class="bg-[#0D7DC0] px-4 py-2 rounded text-white hover:bg-[#0AABF4] text-sm"
					>SAIR</a>
				<% } %>
			</div>
		</div>
	</div>

	<% if(auth) {%>
    
	<div class="w-full">
		<%-include('../components/search')%>
	</div>

	<% } %>
</nav>
